= link_to trl("Verwalte LSA Server"), lsa_servers_path, class: "btn btn-default btn-large btn-block"
= link_to trl("Neuer LSA Server"), new_lsa_server_path, class: "btn btn-default btn-large btn-block"
