button.btn.btn-default.btn-xs[
  type="button"
  data-container="body"
  data-toggle="popover"
  data-placement="right"
  title="Aufgaben"
  data-content="#{render(:partial => 'lsa_runs/index/info_button', :locals => { :exercises => exercises })}"]
  | Anzeigen
