# Ignore bundler config.
/.bundle

# Ignore database config and the default SQLite database.
config/database.yml
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore vendor/bundle
vendor/bundle/
vendor/

# Ignore other unneeded files.
config/application.yml

# Stuff
*.swp
*~
.project
.DS_Store
.idea
.secret
.env
.ruby-gemset
.ruby-version
/config/master.key
