<?xml version="1.0"?>

<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
					xmlns:o="urn:schemas-microsoft-com:office:office"
					xmlns:x="urn:schemas-microsoft-com:office:excel"
					xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
					xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="Gesamt">  
    <%= render "lectures/export/sheet_students", :collection => @lecture %>
  </Worksheet>

  <% @lecture.tutorials.decorate.each do |tutorial| %>
  <Worksheet ss:Name="Tutorium <%= tutorial.id %>">
  <Table>
    <Row>
      <Cell><Data ss:Type="String">Name:</Data></Cell>    
      <Cell><Data ss:Type="String"><%= tutorial.name %></Data></Cell>    
    </Row>
    <Row>
		</Row>
  </Table>
  <%= render "lectures/export/sheet_students", :collection => tutorial.decorate %>
  </Worksheet>  
  <% end %>
  
</Workbook>
